::-webkit-scrollbar {
    width: 7px;
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(172, 52, 52);
    border-radius: 10px;
}
.header {
    background: url(../img/bg.jpg);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'FuturaBD', sans-serif;
}
main {
    background: #000;
    overflow: hidden;
}
.container {
    max-width: 1380px;
    padding: 40px 15px;
    margin: 0 auto;
    box-sizing: inherit;
}
.menu-list {
    display: flex;
}
.menu-item {
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;
}
.menu-list li a {
    margin-right: 22px;
    font-style: normal;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
    margin-right: 18px;
    line-height: 13px;
    font-weight: 500;
}
.user-link {
    cursor: pointer;
}
.menu-link {
    position: relative;
}
.menu-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: -4px;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}
.menu-link:hover::before {
    width: 100%;
    transform: scaleX(1);
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-links-user {
    display: flex;
}
.header-links-user li {
    margin-right: 22px;
}
.header-logo {
    margin-right: 13%;
    user-select: none;
}
.intro-container {
    max-width: 1330px;
    margin: 0 auto;
}
.intro {
    padding-top: 120px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    background-position: center;
    position: relative;
}
.intro-decor-img {
    position: absolute;
    left: 0;
    user-select: none;
}
.intro-bg-text {
    position: absolute;
    font-size: 128px;
    user-select: none;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 128px;
    background: linear-gradient(180deg,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    max-width: 1110px;
}
.intro-img img {
    width: 524px;
    height: 324px;
    animation: 5s ease-in-out infinite levitation;
    user-select: none;
    object-fit: contain;
    
}
.intro-img {
    animation: 0.5s ease-in-out slow;
}
.intro-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.intro-title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: .16em;
    padding-right: 32px;
    text-transform: uppercase;
    max-width: 500px;
    color: #fff;
    font-weight: 700;
    font-style: italic;
}
.intro-size {
    display: flex;
    align-items: center;
}
.size-con {
    margin-right: 40px;
}
.size {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.size-number {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #fff;
}
.intro-desc-text {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.intro-decor-img-2 img {
    position: absolute;
    right: 0;
    top: 10%;
    rotate: 180deg;
    user-select: none;
    height: 50%;
}
.button-intro a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 36px;
    padding: 12px 15px 12px 15px;
    color: #fff;
}
.button-intro {
    margin-top: 40px;
}
@keyframes levitation {
    0% {

    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
.intro-price {
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
}
.intro-buttons {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.previous a, .next a {
    color: #fff;
    text-decoration: none;
}
.intro-box {
    margin-top: 170px;
    margin-left: 70px;
}
.arrow {
    width: 8px;
    height: 8px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    rotate: 45deg;
    margin-right: 10px;
    
}
.arrow2 {
    width: 8px;
    height: 8px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    rotate: -135deg;
    margin-left: 10px;
}
.previous {
    margin-right: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    transition: 0.5s;
}
.previous:hover {
    transform: scale(0.95);
    cursor: pointer;
}
.next:hover {
    transform: scale(0.95);
    cursor: pointer;
}
.next {
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.intro-box-wrapper {
    display: flex;
}
.intro-box-1, .intro-box-2,
.intro-box-3, .intro-box-4,
.intro-box-5, .intro-box-6 {
    min-width: 310px;
    border: 2px solid #fff;
    margin-right: 40px;
    height: 200px;
    position: relative;
}
.intro-box-sneak {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
}
.box-sneak {
    display: flex;
    position: relative;
    transition: 1s;
    animation-duration: 0.5s;
}
.autoslide {
    animation: 10s infinite autoslide;
}
.intro-box-1 img, .intro-box-2 img, 
.intro-box-3 img,
.intro-box-4 img,
.intro-box-5 img, .intro-box-6 img {
    object-fit: contain;
    height: 70%;
    width: 70%;
    position: absolute;
    top: -25%;
    left: 10%;
    user-select: none;
    transition: 0.5s;
}
.sneak-name {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 35%;
    user-select: none;
    font-family: 'FuturaLT', sans-serif;
}
@keyframes autoslide {
    0% {
       right:0 
    }
    25% {
        right: 354px;
    }
    50% {
        right: 708px;
    }
    75% {
        right: 1062;
    }
    100% {
        right: 0;
    }
}
.intro-box-1:hover, .intro-box-2:hover,
.intro-box-3:hover, .intro-box-4:hover,
.intro-box-5:hover, .intro-box-6:hover {
    transition: 0.5s;
    background-color: #fff;
}
.color-sneak-name {
    color: #000;
    font-weight: 600;
    font-style: italic;
}
@keyframes slow {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slow2 {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slowdesc {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.slow-anim {
    animation: 0.7s ease-in-out slow;
}
.slowdesc {
    animation: 1s slowdesc;
}
.buttonslow{
    animation: 1.3s slowdesc;
}
.button-intro a:hover {
    background: rgb(99, 99, 99);
    transition: 0.5s;
    border: 0px;
}
.ticket {
    background: #000;
    position: relative;
    height: 200px;
    top: 0;
}
.ticket-wrapper {
    overflow: hidden;
    margin-top: 8px;
}
.ticket-line1 span {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1em;
    color: #fff;
    font-weight: 900;
    margin-right: 200px;
    animation: 15s linear infinite ticker2;
    margin-top: 30px;
    font-style: italic;
}
.ticket-line2 span {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1em;
    color: #fff;
    font-weight: 900;
    margin-right: 200px;
    animation: 15s linear infinite ticker;
    margin-top: 27px;
    font-style: italic;
}
.ticket-line1, .ticket-line2 {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.ticket-line1 {
    background-color: rgb(0, 0, 0);
    z-index: 3;
    height: 100px;
    justify-content: center;
    position: absolute;
    transform: rotate(2.5deg);
}
.ticket-line2 { 
    background-color: #ba0000;
    z-index: 1;
    height: 90px;
    justify-content: center;
    position: absolute;
    transform: rotate(-2.5deg);
}
@keyframes ticker {
    100% {
        -webkit-transform: translate3d(154%,0,0);
    }
}
@keyframes ticker2 {
    100% {
        -webkit-transform: translate3d(-154%,0,0);
    }
}
.info-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 100px;
    color: #fff;
    max-width: 610px;
    margin: 0 auto;
    text-align: center; 
    font-family: 'FuturaBD', sans-serif;
    font-style: italic;
}
.info-container {
    max-width: 1080px;
    margin: 0 auto;
}
.img-after, .img-before {
    position: relative;
}
.img-after::after {
    content: '';
    width: 72px;
    height: 72px;
    position: absolute;
    right: -100px;
    margin-top: 20px;
    background-image: url(../img/info-1.jpg);
    box-sizing: inherit;
}
.img-before::before {
    content: '';
    width: 72px;
    height: 72px;
    position: absolute;
    margin-top: 20px;
    left: -205px;
    background-image: url(../img/info-2.jpg);
}
.info-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    max-width: 1065px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: 'FuturaLT', sans-serif;
}
.half::after {
    content: '';
    width: 350px;
    rotate: 11deg;
    margin-top: 5px;
    background: #ba0000;
    height: 54px;
    position: absolute;
    left: 50%;
    mix-blend-mode: multiply;
}
.info-link {
    text-align: center;
    margin-top: 50px;
}
.info-link a {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding:15px 20px ;
    border: 1px solid #fff;
    border-radius: 36px;
    color: #fff;
    text-decoration: none;
}
.info-link a:hover {
    background-color: rgb(63, 63, 63);
    border: none;
    transition: 0.3s ease-out;
}
.info {
    position: relative;
}
.info::before {
    content: '';
    position: absolute;
    background: url(../img/vector-line.svg) no-repeat;
    height: 3300px;
    width: 800px;
    left: -120px;
    top: 120px;
}
.best-wrapper {
    display: flex;
    justify-content: center;
}
.best {
    margin-top: 250px;
    position: relative; 
    z-index: 2;
}
.best-title {
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    font-family: 'FuturaBD', sans-serif;
    color: #fff;
    margin-bottom: 107px;
}
.best-img-1, .best-img-2, .best-img-3{
    max-width: 400px;
    padding: 0 10px;
    text-decoration: none;
    position: relative;
}
.best-item {
    text-decoration: none;
}
.best-item span {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 64px;
    font-family: 'FuturaBD', sans-serif;
    position: relative;
    top: 87%;
    right: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.hov {
    color: #fff;
}
.women::before,
.men::before,
.kids::before {
    content: attr(data-content);
    position: absolute;
    transform: scaleX(0);
    height: 100%;
    color: #fff;
    transition: cubic-bezier(.1, .9, .9, 1.5) 0.3s;
    transform-origin: left;
}
.left.women::before,
.left.men::before,
.left.kids::before {
    content: attr(data-content);
    position: absolute;
    transform: scaleX(1);
    height: 100%;
    color: #fff;
    transition: 0.3s;
    transform-origin: left;
}
.best-img-1:hover,
.best-img-2:hover,
.best-img-3:hover {
    transform: scale(1.01);
    transition: 0.3s;
}
.adidas {
    position: absolute;
    left: -260px;
    scroll-behavior: smooth;
    width: 756px;
    height: 640px;
}
.sport {
    margin-top: 330px;
}
.sport-title {
    text-align: center;
    font-size: 96px;
    font-style: italic;
    transform: rotate(-11deg);
}
.sport-title-1 {
    color: #fff;
    font-family: 'FuturaXB', sans-serif;
}
.sport-title-2 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    padding-left: 405px;
    position: relative;
    top: -50px;
    font-family: 'FuturaXB', sans-serif;
}
.sport-container {
    max-width: 1310px;
    margin: 0 auto;
}
.sport-first, .sport-second, .sport-third {
    display: flex;
    align-items: center;
}
.sport-second {
    justify-content: end;
}

.sport-box {
    width: auto;
    padding-left: 100px;
}
.sport-img {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.sport-platform-1, .sport-platform-5 {
    margin-right: 60px;
}
.sport-platform-3 {
    margin-right: 60px;
}
.sport-platform-4 {
    margin-right: 140px;
    top: -10px;
}
.box-platform {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    transition: 0.3s;
}
.box-platform::after {
    content: "";
    background-image: url(../img/sport-platform.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 46px;
    position: relative;
    background-size: contain;
    right: 10px;
    background-position: center;
    top: -40px;
}
.sport-platform-1 {
    top: 35px;
}
.sport-platform-5 {
    top: -50px
}
.sport-text {
    color: #fff;
    position: absolute;
    top: 40%;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    font-size: 20px;
}
.sport-text-1 {
    top: 55%;
    color: #fff;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}
.sport-text-2 {
    top: 55%;
    color: #fff;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-transform: capitalize;
    font-size: 20px;
}
.platform-con {
    position: relative;
    height: 400px;
}
.box-platform:hover {
    cursor: pointer;
}
.transform-sport {
    transform: translateY(-20px) scale(1.1);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
    animation-fill-mode: forwards;
}
.transform-sport2 {
    transform: translateY(1) scale(1);
    transition: 0.3s;
}
.change::after {
    transform: scale(.95);
    transition: 0.3s;
}
.transform-sport2::after {
    transform: scale(1);
    transition: 0.3s;
}
.sport-img::after {
    content: '';
    position: absolute;
    height: 200px;
    width: 100px;
    background-color: #ba0000;
}
.sport-decor {
    position: relative;
    overflow: hidden;
}
.sport-title-1 {
    position: relative;
}
.sport-title-1::after {
    content: "";
    background: url(../img/sport-decor.png);
    width: 300px;
    height: 130px;
    position: absolute;
    left: 700px;
    top: -25px;
    mix-blend-mode: multiply;
}
.modern {
    margin-top: 100px;
}
.modern-title h2 {
    margin: 0 0 24px;
    font-family: 'FuturaMD', sans-serif;
    font-size: 64px;
    line-height: 77px;
    font-weight: 600;
}
.modern-desc {
    margin: 0 0 40px;
    font-family: 'FuturaBK', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 30px;
}
.modern-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
.modern-info {
    max-width: 720px;
    color: #fff;
}
.modern-btn, .visionaries-btn, .shoes-btn a{
    border: 1px solid #d6d6d6;
    padding: 16px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}
.modern-btn:hover, .visionaries-btn:hover, .shoes-btn a:hover {
    background-color: rgb(121, 121, 121);
    border: none;
    transition: 0.3s;
}
.modern-img{
    z-index: 2;
    position: relative;
}
.modern-img::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(204, 204, 204);
    z-index: -2;
    left: 40px;
}
.modern-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 9.34deg at 46.78% 51.75%,#ba0000 0deg,#ba0000 360deg);
    filter: blur(125px);
    left: 0;
    mix-blend-mode: hard-light;
    z-index: -1;
}
.visionaries {
    margin-top: 300px;
}
.visionaries-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visionaries-info {
    color: #fff;
    max-width: 621px;
    padding-bottom: 20px;
}
.visionaries-title h2 {
    font-size: 48px;
}
.visionaries-title h2 span {
    color: #ba0000;
}
.visionaries_p {
    margin: 0 0 32px;
    font-family: 'FuturaBK', sans-serif;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
}
.visionaries_p span {
    font-family: 'FuturBD', sans-serif;
    font-weight: 900;
}
.shoes {
    margin-top: 200px;
}
.shoes-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.shoes-img-wrapper {
    display: flex;
    position: relative;
    width: 600px;
    height: 508px;
}
.shoes-info {
    color: #fff;
}
.shoes-title h2 {
    font-family: 'FuturaMD', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    margin: 0;
    max-width: 705px;
}
.shoes-desc {
    margin: 0 0 40px;
    display: block;
    max-width: 620px;
    font-family: 'FuturaBK';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.shoes-img-wrapper::before {
    content: '';
    background: #ba0000;
    width: 100%;
    height: 100%;
    filter: blur(110px);
    mix-blend-mode: hard-light;
    position: absolute;
}
.shoes-img {
    border-radius: 15px;
}
.shoes-con {
    position: absolute;
    top: 0;
}
.shoes-1 {
    top: 120px;
}
.shoes-2 {
    right: 0;
}
.shoes-3 {
    right: 0;
    top: 310px;
}
.shoes {
    padding-bottom: 200px;
}
.email {
    background: #000;
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 60px;
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 90px;
    padding-left: 20px;
}
.email:hover {
    border: 2px solid #555555;
}
.email::placeholder {
    text-align: center;
}
.subscribe-wrapper {
    max-width: 650px;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}
.mail {
    border: 2px solid #3b3b3b;
    transition: 0.3s;
}
.mail-before {
    border: 2px solid #ffffff;
    transition: 0.3s;
}
input {outline: 0 !important;}
.subscribe-btn {
    background: #fff;
    border-radius: 50px;
    padding: 24px 50px;
    position: absolute;
    right: 60px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.subscribe-wrapper h2 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.bg {
    background: #555555;
    color: #fff;
    transition: 0.3s;
}
.bg-before {
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
.burger {
    width: 30px;
    height: 35px;
    position: relative;
    cursor: pointer;
    display: none;
}
.burger-btn {
    width: 35px;
    height: 2px;
    background-color: #fff;
    position: relative;
    top: 15px;
}
.burger-btn::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #fff;
    top: -6px;
}
.burger-btn::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #fff;
    bottom: -6px;
}
.menu-burger {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.940);
    position: absolute;
    z-index: 3;
    left: -100%;
    transition: 0.2s;
}
.initial-burger {
    left: 0;
}
.body-overflow {
    overflow: hidden;
}
.menu-list-burger {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%,-30%);
}
.menu-item-burger {
    margin-bottom: 40px;
    font-size: 38px;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
}
.menu-list {
    z-index: 3;
}
.burger-span {
    color: #ba0000;
}
.menu-link-burger {
    font-weight: 900;
}
.menu-item-burger-1 {
    animation: 0.3s ease-in opacity1;
} 
.menu-item-burger-2 {
    animation: 0.6s ease-in opacity1;
}
.menu-item-burger-3 {
    animation: 0.9s ease-in opacity1;
}
.menu-item-burger-4 {
    animation: 1.3s ease-in opacity1;
}
@keyframes opacity1 {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width:1500px) {
    .adidas-img {
        display: none;
    }
    .intro-decor-img, .intro-decor-img-2 {
        display: none;
    }
}
@media (max-width: 1300px) {
    .best-img-1, .best-img-2, .best-img-3 {
        max-width: 300px;
    }
    .best-item span {
        font-size: 45px;
    }
    .shoes-info {
        max-width: 416px;
    }
    .shoes-title h2 {
        font-size: 49px;
    }
}
@media (max-width:1000px) {
    .intro-wrapper {
        display: block;
    }
    .menu-list {
        display: none;
    }
    .intro {
        padding-top: 40px;
    }
    .intro-box {
        margin-top: 80px;
    }
    .header-logo {
        margin-left: 13%;
        margin-right: 0;
    }
    .burger {
        display: block;
    }
    .intro-img {
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;
    }
    .intro-img img {
        max-width: 382px;
        height: 220px;
    }
    .intro-text {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    .intro-desc-text {
        max-width: 290px;
        margin:  0 auto;
        margin-top: 30px;
        justify-content: space-around;
    }
    .size-con {
        margin-right: 14px;
    }
    .intro-title {
        padding: 0;
        max-width: 600px;
    }
    .intro-size {
        max-width: 160px;
        justify-content: space-between;
    }
    @keyframes levitation {
        0% {
            transform: translateY(-20px);
        }
        50% {
            transform: translateY(-35px);
        }
        100% {
            transform: translateY(-20px);
        }
    }
    .intro-title {
        letter-spacing: 0;
    }
    .best-wrapper {
        display: block;
    }
    .best-img-1, .best-img-2, .best-img-3 {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        padding: 0 0 20px 0;
    }
    .best-item span {
        font-size: 54px;
        top: 83%;
    }
    .shoes-info {
        max-width: 725px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 280px;
    }
    .shoes-desc {
        max-width: 800px;
    }
    .shoes-wrapper {
        display: block;
    }
    .shoes-img-wrapper {
        margin:  0 auto;
    }
    .modern-wrapper {
        display: block;
    }
    .modern-info {
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
    }
    .modern-img {
        max-width: 500px;
        margin: 0 auto;
    }
    .modern-img::before {
        left: 20%;
    }
    .sneak-modern {
        margin: 0 auto;
    }
    .visionaries-wrapper {
        display: block;
    }
    .visionaries-img {
        max-width: 500px;
        margin: 0 auto;
    }
    .visionaries-info {
        margin: 0 auto;
        max-width: 580px;
    }
    .info-title {
        font-size: 32px;
        padding: 0 50px;
    }
    .info-desc {
        padding: 0 50px;
    }
    .img-after::after {
        width: 50px;
        height: 50px;
        right: -62px;
    }
    .img-before::before {
        width: 50px;
        height: 50px;
        left: -136px;
    }
    .info-title h2 {
        position: relative;
    }
    .intro-box-wrapper {
        display: block;

    }
    .intro-buttons {
        padding-bottom: 30px;
    }
    .sport-second {
        justify-content: start;
    }
    .sport-img {
        width: auto;
        max-width: 300px;
    }
    .sport-box {
        padding-left: 0;
        max-width: 600px;
        margin: 0 auto;
    }
    .sport-second, .sport-third {
        display: none;
    }
    .sport-title {
        max-width: 270px;
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    .sport-title {
        font-size: 54px;
    }
    .sport-first {
        display: block;
    }
    .sport-title-2 {
        padding-left: 136px;
        top: -19px;
    }
    .sport-text-1, .sport-text-2 {
        position: static;
        text-align: center;
    }
    .sport-platform-1, .sport-platform-2 {
        margin-right: 0;
        max-width: 400px;
        margin: 0 auto;
    }
    .sport {
        margin-top: 150px;
    }
    .modern-wrapper {
        padding-left: 0;
    }
    .shoes-2 {
        max-width: 300px;
        right: 25%;
    }
    .shoes-3 {
        max-width: 300px;
        right: 40%;
    }
    .shoes-img-2 {
        max-width: 250px;
    }
    .shoes-img-1 {
        max-width: 150px;
    }
    .shoes-img-3 {
        max-width: 130px;
    }
    .shoes-info {
        padding-bottom: 250px;
    }
    .subscribe-btn {
        display: block;
        position: static;
        max-width: 100px;
        margin-left: 25%;
    }
}
@media (max-width:500px) {
    .modern-img::before {
        max-width: 200px;
        height: 200px;
    }
    .sneak-modern {
        width: 100%;
        max-width: 301px;
        margin:  0 auto;
    }
    .visionaries-img img {
        width: 100%;
    }
    .size-number, .intro-price {
        font-size: 28px;
    }
    .intro-title {
        font-size: 38px;
    }
    .intro-img img {
        height: 185px;
    }
    .intro-bg-text {
        font-size: 98px;
        padding-left: 10px;
    }
    .intro-box {
        margin-left: 6px;
    }
    .info-title {
        font-size: 32px;
        padding: 0;
    }
    .best-item span {
        top: 79%;
    }
    .modern-title h2 {
        font-size: 54px;
    }
    .header-links-user li {
        margin-right: 0;
    }
  
    .email {
        margin-left: 0;
        max-width: 100%;
    }
}
@media (max-width:400px) {
    .info-title {
        font-size: 24px;
    }
    .img-after::after, .img-before::before {
        display: none;
    }
    .shoes-2 {
        max-width: 205px;
        right: 39%;
    }
    .shoes-3 {
        max-width: 205px;
        right: 50%;
    }
    .shoes-img-2 {
        max-width: 200px;
    }
    .shoes-img-1 {
        max-width: 120px;
    }
    .shoes-img-3 {
        max-width: 120px;
    }
    .shoes-info {
        padding-bottom: 250px;
    }
    .intro-img img {
        max-width: 331px;
    }
}
